.DS_Store
xcuserdata/
DerivedData/
.build/
*.xcuserstate
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
.swiftpm/
.swiftpm
Package.resolved
.cursor/
sparkle-keys/
ed25519-priv.key
ed25519-pub.key
*.pem
!Config/*.entitlements
