<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://github.com/zachwilke/netglass/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>REPLACE_ME_RUN_GENERATE_KEYS</string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
</dict>
</plist>
